_file_storage/objects/
_file_storage/index.txt
_comparisons/minecraft_bedrock/profanity_filter/

# contain scary licenses
_comparisons/minecraft_bedrock/shaders_hlsl/
_comparisons/minecraft_bedrock/shaders_glsl/
# griefed translations
_comparisons/minecraft_java/assets.lang/report_0026.txt
_comparisons/minecraft_java/assets.lang/report_0027.txt
_comparisons/minecraft_java/assets.lang/report_0028.txt

todo.txt
_domains/*/component_log.txt
_domains/minecraft_common/lib/exiftool-12.93_64/
_domains/minecraft_bedrock/lib/MaterialBinTool/
_output/
_temp/
_versions/
.vscode/
*.pyc
*.cpython-310.pyc
*__pycache__
py313/
_domains/*/log/*