_assets/stored_versions/objects/
_assets/stored_versions2/objects/
_assets/stored_versions2/zippedness_index.txt
_assets/file_storage/objects/
_assets/file_storage/index.txt
_temp/
_versions/
.vscode/*
*.pyc
*.cpython-310.pyc
*__pycache__
/_assets/logs/*