_file_storage/objects/
_file_storage/index.txt
_comparisons/minecraft_bedrock/profanity_filter/

# contain scary licenses
_comparisons/minecraft_bedrock/shaders_hlsl/
_comparisons/minecraft_bedrock/shaders_glsl/

_lib/exiftool-12.93_64/
_lib/MaterialBinTool/
_output/
_temp/
_versions/
.vscode/
*.pyc
*.cpython-310.pyc
*__pycache__
py313/
_domains/minecraft_bedrock/log/*